{% extends "base/base.html" %}
{% block title %} {{title}} {% endblock title %}
{% block bokeh_scripts %}
	{{ops_script|safe}}
{% endblock bokeh_scripts %}

{% block content %}
<div class="flex bg-gray-300 sm:w-auto">
	<!-- SIDE NAV-->
	{% include 'base/side-nav.html' %}
	<!-- GRAPH AND TABLE COLUMN-->
	<div class="graph-col flex flex-col flex-grow bg-gray-200 w-3/4 mt-12 ml-4 px-2 rounded shadow-lg">
		<!-- GRAPH -->
		<div class=" flex ops-procedure-graph my-1 mx-5">
			{{ops_div|safe}}
			<!-- TABLE -->
			<div id ="opsProcedureTable" class="table-wrapper overflow-y-scroll">
				<div class="mx-1 my-2 bg-green-100 border border-green-500 text-gray-700 px-4 py-3">
					<p class="font-bold">Flight Operations Procedures</p>
				</div>
				{{table|safe}}
			</div>
		</div>
		
	</div>
</div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}