.attr-div{
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
    color:#000;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #f6ad55;
    margin: 0.5rem;
    height: 4.5rem;
}

.profile-image{
    margin: 0.5rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.meet-susan-wrapper{
    font-family: 'Handlee', cursive;
    font-size: large;
    font-weight: 400;
}
.meet-susan-pic{
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.detail-paragraph{
    display: flex;
    flex-wrap: wrap;
    color: #4a5568;
    padding: 0.5rem;
}

.testimonial-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Marck Script', cursive;
}

.next-step-div{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/* ARE WE A FIT PAGE */

.fit-detail-list{
    margin-left: 2px;
    list-style-type: disc;
    color: #4a5568;
    font-size: 1rem;
}
/* LOGIN AND REGISTER */
form-div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* RESOURCES PAGE EMAIL FIELD*/
#emailResource{
    width: 100%;
    justify-content: center;
    position: absolute;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 9999;
}

/* COACHING PAGE*/
.how-it-works-wrapper{
    display: flex;
    margin-top:0.5rem;
    margin-bottom:2px;
}

@media screen and (max-width:2560px) {
    .intro-wrapper {
        height: 100%;
    }
    .intro-pic-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width:1024px) {
    body {
        overflow: scroll;
    }
    .intro-wrapper {
        height: 100%;
    }
    .intro-pic-wrapper {
        display: flex;
        flex-direction: row;
    }

    .attr-div {
        font-size: 1.0rem;
        height: 3rem;
    }
}
@media screen and (max-width:800px) {
    body {
        overflow: scroll;
    }
    .intro-wrapper {
        height: 100%;
    }
    .intro-pic-wrapper {
        display: flex;
        flex-direction: row;
    }
    .profile-image {
        margin: 0.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
    }
    .attr-div {
        font-size: 0.7rem;
        height: 2rem;
    }
    .testimonial-wrapper {
        display: flex;
        justify-content: space-between;
        overflow-x: hidden;
    }
}

@media screen and (max-width:600px) {
    body{
        overflow: scroll;
    }
    .intro-wrapper{
        height: 100%;
    }
    .intro-pic-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .attr-div {
        font-size: 1.0rem;
        height: 1.5rem;
    }
    .testimonial-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width:500px){
    body {
        overflow: scroll;
    }
    .login-form {
        width: 90%;
    }
    .register-form{
        width: 90%;
    }

    .login-btn-div{
        display: flex;
        flex-direction: column;
    }
    .login-btn-div button{
        margin-bottom: 1rem;
    }
    .register-btn-div{
        display: flex;
        flex-direction: column;
    }
    .register-btn-div button {
        margin-bottom: 1rem;
    }
    .how-it-works-wrapper{
        display: flex;
        flex-direction: column;
    }
}