<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Living Peak | {% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/tailwind/tailwind.min.css') }}"/>
      {#
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/custom/custom.css') }}"/>
      #}
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/custom/navbar.css') }}"/>
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"/>
      {% block stylesheets %}{% endblock stylesheets %}
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- NAV BAR -->
    <nav class="nav-bar">
      <div class="logo">
        <h4>Living Peak</h4>
      </div>
      <div id="btnDiv" class="nav-links">
        <button class="btn active"><a href="#">Pre-Flight Analysis</a>
        <button class="btn"><a href="#">Post-Flight Analysis</a>
        <button class="btn"><a href="#">Flight Operations</a>
        <button class="btn"><a href="#">Carbon Emission</a>
          {#
        <button class="btn"><a href="{{url_for('route_opt.route_analysis')}}">Route Optimization</a>
          #}
      </div>
      <div id="navBurger" class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div class="bg-gray-300 h-screen">
      <div class="bg-white shadow-md rounded pt-12 px-48 pb-2 mb-2">
        {% with messages = get_flashed_messages (with_categories = true) %} 
        {% if messages %} 
          {% for category, message in messages %} 
            {% if category =='error' %}
              <div id="flashMessage" role="alert">
                <div class="bg-red-500 text-white text-center text-2xl font-bold rounded-t px-4 py-2">
                  {{category}}
                </div>
                <div
                  class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-center text-red-700">
                  <p>{{message}}.</p>
                </div>
              </div>
            {% else %}
              <div id="flashMessage"
                class="{{category}} bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3"
                role="alert">
                <p class="font-bold text-lg">{{category}}</p>
                <p class="text-lg">{{message}}</p>
              </div>
              {% endif %} 
            {% endfor %} 
          {% endif %} 
        {% endwith %} 
      </div>
      
      {% block content %}{%endblock content %}
      <p class="footer text-center text-gray-700 text-sm bg-gray-200">
        &copy;2020 Living Peak. All rights reserved.
      </p>
      <p class="text-center text-gray-700 text-xs"> Designed by Techpoint Systems&reg;</p>
    </div>
    {#
      <!-- CUSTOM SCRIPT -->
      <script src="{{ url_for('static',filename='js/custom/customScript.js') }}" type="text/javascript"></script>
      <!-- NAVBAR SCRIPT -->
      <script src="{{ url_for('static',filename='js/custom/navbar.js') }}" type="text/javascript">
      </script>
    #}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
