<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Living Peak | {% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/favicon/favicon.png')}}">
    <!-- FAVICON END -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/tailwind/tailwind.min.css') }}"/>
      {#
        <link rel="stylesheet" type="text/css" 
        href="{{ url_for('static', filename='css/custom/body.css') }}" />
        #}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom/flashMessages.css') }}" />
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/custom/navbar.css') }}"/>
    
      {% block stylesheets %}{% endblock stylesheets %}
  </head>

  <body class="bg-gray-300">
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- NAV BAR -->
    <nav class="nav-bar">
      <div class="logo">
        <a href="{{url_for('landing_page.index')}}">
          <img src="{{ url_for('static', filename='images/susan_pics/nav_logo_final.png') }}" alt="nav logo"
            style="width: 350px; height: 100px;">
        </a>
      </div>
      <div id="btnDiv" class="nav-links">
        <button class="nav_btn"><a href="{{url_for('landing_page.index')}}">HOME</a></button>
        <button class="nav_btn"><a href="{{url_for('services.services_page')}}">SERVICES</a></button>
        <!--
        <button class="nav_btn"><a href="{{url_for('areWeAfit_page.index')}}">ARE WE A FIT?</a></button>
        <button class="btn"><a href="#">SPEAKING</a></button>
      -->
        {% if session.is_staff %}
        <button class="nav_btn"><a href="{{url_for('upload_file.upload')}}">UPLOAD RESOURCE</a></button>
        <button class="nav_btn"><a href="{{url_for('testimony.add_testimony')}}">ADD TESTIMONY</a></button>
        <button class="nav_btn"><a href="{{url_for('blog.blog_post')}}">NEW BLOG</a></button>
        {% endif %}
        <button class="nav_btn"><a href="{{url_for('resources.resources_page')}}">RESOURCES</a></button>
        <button class="nav_btn"><a href="{{url_for('blog.blog_page')}}">BLOG</a></button>
        <button class="nav_btn"><a href="{{url_for('contact.contact_page')}}">CONTACT</a></button>
        <div class="mb-1"></div>
      </div>
      <div class="flex justify-end w-1/2">
        <div id="navBurger" class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <!-- if user is authorized -->
        {% if session.logged_in %}
        <div class="user-auth pl-12 pr-2 text-orange-500">
          <button class="logout-btn"><a href="{{url_for('user_auth.logout')}}">Logout</a></button>
        </div>
        {{ session.last_name }},{{ session.first_name }}
        {% else %}
        <!-- if user is not authenticated display login-->
        <div class="user-auth pl-8 text-orange-500 font-bold">
          <button class="login-btn"><a href="{{url_for('user_auth.login')}}">Login</a></button>
        </div>
        {% endif %}
        <!-- session user name -->
      </div>
    </nav>
    <!-- pt-12 px-4 pb-2 mb-2 -->
    <div class="bg-white shadow-md pt-16 rounded px-4">
      {% with messages = get_flashed_messages (with_categories = true) %} 
      {% if messages %} 
        {% for category, message in messages %} 
          {% if category =='error' %}
            <div id="flashMessageError" role="alert" class="flash-message">
              <div class="bg-red-500 text-white text-center text-2xl font-bold rounded-t px-4 py-2">
                {{category}}
              </div>
              <div
                class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-center text-red-700">
                <p>{{message}}.</p>
              </div>
              <div class="flex w-1/2 justify-end">
                <button id="closeFlashError" class="close-flash-message">
                  <i class="material-icons text-2xl">highlight_off</i>
                </button>
              </div>
            </div>
          {% else %}
            <div id="flashMessageOther"
              class="{{category}} flash-message bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3"
              role="alert">
              <p class="font-bold text-lg">{{category}}</p>
              <p class="text-lg">{{message}}</p>
              <div class="flex w-1/2 justify-end">
                <button id="closeFlashOther" class="close-flash-message">
                  <i class="material-icons text-2xl">highlight_off</i>
                </button>
              </div>
            </div>
            {% endif %} 
          {% endfor %} 
        {% endif %} 
      {% endwith %} 
    </div>

    <!-- PAGE CONTENT -->
    <div class="page-content cursor-default" id="bodyDiv">
      {% block content %}{%endblock content %}
    </div>

    <p class="footer text-center text-white text-sm bg-gray-700">
      &copy;2020 Living Peak Group. All rights reserved.
    </p>
    <p class="text-center text-black text-xs"> Designed by
      <a href="https://techpoint.systems"> Techpoint Systems&reg;</a>
    </p>
    <div class="bg-orange-400 text-center py-4 lg:px-4">
      <div class="p-2 bg-transparent items-center leading-none lg:rounded-full flex lg:inline-flex" role="">
        <span class="text-black font-semibold mr-2 text-center flex-auto">USEFUL LINKS</span>
      </div>
    </div>
    <div class="useful-links flex sm:flex flex-wrap justify-around w-full mb-8 p-3 bg-gray-400">
      <!-- staff login -->
      <p class="staff-login text-gray-700 text-lg">
        <a href="{{url_for('user_auth.staff_login')}}">&verbar; <i class="fas fa-sign-in-alt"></i> &verbar;
          <span class="text-sm">staff login</span>
        </a>
      </p>
      <!-- facebook -->
      <p class="facebook-login text-blue-600 text-lg">
        <a href="https://facebook.com">&verbar; <i class="fab fa-facebook-f"></i> &verbar;
          <span class="text-sm">facebook</span>
        </a>
      </p>
      <!-- gmail -->
      <p class="facebook-login text-blue-600 text-lg">
        <a href="https://mail.google.com/mail/">&verbar; <i class="fab fa-google"></i> &verbar;
          <span class="text-sm">gmail</span>
        </a>
      </p>
      <!-- instagram -->
      <p class="facebook-login text-black text-lg">
        <a href="https://www.instagram.com/">&verbar; <i class="fab fa-instagram"></i> &verbar;
          <span class="text-sm">instagram</span>
        </a>
      </p>
      <!-- linkedin -->
      <p class="facebook-login text-blue-600 text-lg">
        <a href="https://www.linkedin.com/">&verbar; <i class="fab fa-linkedin-in"></i> &verbar;
          <span class="text-sm">linkedin</span>
        </a>
      </p>

    </div>
  <!-- NAVBAR SCRIPT -->
  <script src="{{ url_for('static',filename='js/custom/navbar.js') }}" type="text/javascript">
  </script>
  <script src="{{ url_for('static',filename='js/custom/flashMessages.js') }}"></script>
  {% block scripts %}
  {% endblock scripts %}
  </body>
</html>
