<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tensor | {% block title %}{% endblock title %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/tailwind/tailwind.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/custom/custom.css') }}"/>
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/custom/navbar.css') }}"/>
    <link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/custom/responsive-table.css') }}"/>
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"/>
    <!-- <link href="http://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet" type="text/css">
	<link href="http://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet" type="text/css"> -->
    <script
      src="{{ url_for('static',filename='js/bokeh1.4/bokeh-1.4.0.min.js') }}"
      type="text/javascript"
    ></script>
    {#
    <script
      src="{{ url_for('static',filename='js/bokeh1.4/bokeh-widgets-1.4.0.min.js') }}"
      type="text/javascript"
    ></script>
    #}
    <!-- <script src="http://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script> -->
    {% block bokeh_scripts %}{% endblock bokeh_scripts %} 
    {% block stylesheets %}{% endblock stylesheets %}
  </head>

  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- NAV BAR -->
    <nav class="nav-bar">
      <div class="logo">
		<h4 class="text-4xl">Tensor</h4>
	  </div>
	  <div> <span>Flight Crew Dashboard</span> </div>
	  {#
      <ul class="nav-links">
        <li class="active"><a href="{{url_for('pre_flight.pre_flight_analysis')}}">Pre-Flight Analysis</a></li>
        <li><a href="{{url_for('post_flight.post_flight_analysis')}}">Post-Flight Analysis</a></li>
        <li><a href="{{url_for('flightOps.ops_procedure')}}">Flight Operations</a></li>
        <li><a href="#">Carbon Emission</a></li>
      </ul>
      <div id="navBurger" class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
	  </div>
	  #}
      <div>
        <iframe
          id="timeIframe"
          src="https://freesecure.timeanddate.com/clock/i725xo81/n170/fn13/fs16/fc9ff/tc215769/pc222/ftb/pa0/tt0/tw1/tm1/th1/ta1/tb4"
          frameborder="0"
          width="140"
          height="37"
        ></iframe>
      </div>
    </nav>

    <div class="bg-gray-300">
      {% with messages = get_flashed_messages (with_categories = true) %} {% if
      messages %} {% for category, message in messages %} {% if category ==
      'error' %}
      <div id="flashMessage" role="alert">
        <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
          {{category}}
        </div>
        <div
          class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700"
        >
          <p>{{message}}.</p>
        </div>
      </div>
      {% else %}
      <div
        id="flashMessage"
        class="{{category}} bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3"
        role="alert"
      >
        <p class="font-bold text-lg">{{category}}</p>
        <p class="text-lg">{{message}}</p>
      </div>
      {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %}{%
      endblock content %}
      <p class="footer text-center text-gray-700 text-xs">
        &copy;2020 Techpoint Systems. All rights reserved.
      </p>
    </div>
	{#
	<!-- NAVBAR SCRIPT -->
	<script src="{{ url_for('static',filename='js/custom/navbar.js') }}"
	type="text/javascript">
	</script>
    <script
      src="{{ url_for('static',filename='js/jquery/jquery.min.js') }}"
      type="text/javascript"
    ></script>
    #}
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
